<app-navbar></app-navbar>
<!--<ng-template *ngIf="false">-->
  <div class="container">
    <router-outlet></router-outlet>
  <!--<carouselOfSpecialProducts></carouselOfSpecialProducts>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12 col-12 col-md-4 form-group">-->
        <!--<input type="text"-->
               <!--placeholder="Datepicker"-->
               <!--class="form-control"-->
               <!--bsDatepicker>-->
      <!--</div>-->
      <!--<div class="col-xs-12 col-12 col-md-4 form-group">-->
        <!--<input type="text"-->
               <!--placeholder="Daterangepicker"-->
               <!--class="form-control"-->
               <!--bsDaterangepicker>-->
      <!--</div>-->
    <!--</div>-->

    <!--<login></login>-->
    <!--<register></register>-->
    <!--<tabs></tabs>-->
    <!--<wallets></wallets>-->
    <!--<walletTable></walletTable>-->
  </div>
<!--</ng-template>-->
<!-- <app-users></app-users> -->
