<ngx-spinner
  bdColor = "rgba(51,51,51,0.8)"
  size = "large"
  color = "#5bff5b"
  type = "ball-climbing-dot"
></ngx-spinner>

<!--<app-navbar></app-navbar>-->

<div class="row justify-content-between mt-4">
  <h3>All users</h3>
  <div>
    <label class="mr-2">Number of users per page:</label>
    <div class="btn-group">
      <label (click)="loadUsers()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="10" tabindex="0" role="button">10</label>
      <label (click)="loadUsers()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="20" tabindex="0" role="button">20</label>
      <label (click)="loadUsers()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="30" tabindex="0" role="button">30</label>
    </div>
  </div>
</div>

<div class="container mt-lg-5">
  <div class="row">

    <div class="col">
      <table class="table" *ngIf="totalPages">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td scope="row">{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.userInfo.name}}</td>
            <td>{{user.userInfo.dateOfBirth}}</td>
            <td>{{user.role.name}}</td>
            <!--<td>{{user.password}}</td>-->
            <td><button type="button" class="btn btn-danger" (click)="_deleteUser(user.id)"><i class="fas fa-trash-alt"></i></button></td>
            <td><button type="button" class="btn btn-warning" (click)="_openModal(template, user)"><i class="fas fa-edit"></i></button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="_openModal(template)">-->
        <!--Create new user-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->

</div>

<div class="pagination d-flex justify-content-center" *ngIf="totalPages">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage <= 1">
      <a class="page-link" (click)="loadPrev()">Previous</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage == page" *ngFor="let page of pages">
      <a class="page-link" (click)="currentPage = page; loadUsers(); ">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage >= totalPages">
      <a class="page-link" (click)="loadNext()">Next</a>
    </li>
  </ul>
</div>


<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit user</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Username</label>
      <input class="form-control" name="username" [(ngModel)]="editableUser.username" readonly />
    </div>
    <div class="form-group">
      <label>Role</label>
      <select class="select form-control" name="RoleId" [(ngModel)]="roleId">
        <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="_addUser()">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
