<div class="mt-2">
  <tabset>
    <tab heading="Main">
      <!--<carouselOfSpecialProducts></carouselOfSpecialProducts>-->
      <products [categoryId]="0"></products>
    </tab>
    <tab heading="Sales">
      <products [categoryId]="1"></products>
    </tab>
    <tab heading="Text editors">
      <products [categoryId]="2"></products>
    </tab>
    <tab heading="Graphic editors">
      <products [categoryId]="3"></products>
    </tab>
    <tab heading="Video editors">
      <products [categoryId]="4"></products>
    </tab>
  </tabset>
</div>
