<!--<div class="row">-->
  <!--<div class="col">-->
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="_openModal(template)">-->
      <!--Create new product-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->

<ngx-spinner
  bdColor = "rgba(51,51,51,0.8)"
  size = "large"
  color = "#27e9d2"
  type = "ball-climbing-dot"
></ngx-spinner>

<!--<app-navbar></app-navbar>-->

<div class="row justify-content-between mt-4">
  <h3>{{titleOfPage}}</h3>
  <div>
    <label class="mr-2">Number of products per page:</label>
    <div class="btn-group">
      <label (click)="loadProducts()" class="btn btn-primary" [(ngModel)]="numberOfProductsPerPage"
             btnRadio="6" tabindex="0" role="button">6</label>
      <label (click)="loadProducts()" class="btn btn-primary" [(ngModel)]="numberOfProductsPerPage"
             btnRadio="9" tabindex="0" role="button">9</label>
      <label (click)="loadProducts()" class="btn btn-primary" [(ngModel)]="numberOfProductsPerPage"
             btnRadio="12" tabindex="0" role="button">12</label>
    </div>
  </div>
</div>

<div class="row text-center justify-content-around" *ngIf="totalPages">
  <div class="card col-sm-12 col-me-5 col-lg-3 mp-cards" *ngFor="let product of products">
    <!--<img class="card-img-top" src="{{product.img_src}}" alt="Card image">-->
    <div class="card-body">
      <div class="card-title">
        <h5>{{product.name}}</h5>
        <div *ngIf="currentUser.role.id=='1'" class="btn-group">
          <button type="button" class="btn btn-warning mt-1" (click)="_openModal(template, product)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger mt-1" (click)="_deleteProduct(product.id)"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      <p class="card-text">{{_shortDescription(product.description)}}</p>
      <div class="row justify-content-around">
        <a routerLink="/products/id/{{product.id}}" class="btn btn-primary col-5">More</a>
        <label class="col-5 p-0">{{product.cost+"$"}}</label>
      </div>
      <div class="row justify-content-center">

      </div>
    </div>
  </div>
</div>


<div class="pagination d-flex justify-content-center" *ngIf="totalPages">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage <= 1">
      <a class="page-link" (click)="loadPrev()">Previous</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage == page" *ngFor="let page of pages">
      <a class="page-link" (click)="currentPage = page; loadProducts(); ">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage >= totalPages">
      <a class="page-link" (click)="loadNext()">Next</a>
    </li>
  </ul>
</div>

<!-- Modal -->
<ng-template #template>
  <form>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit product</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="Name" [(ngModel)]="editableProduct.name" #name="ngModel" required />
        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
          Please set Name
          <!--Easy way to create client validation-->
        </div>
      </div>

      <div class="form-group">
        <label>Full description</label>
        <input class="form-control" name="Description" [(ngModel)]="editableProduct.description"
          #full_description="ngModel" required />
        <div [hidden]="full_description.valid || full_description.untouched" class="alert alert-danger">
          Please set Full description
        </div>
      </div>
      <div class="form-group">
        <label>Cost</label>
        <input type="number" class="form-control" name="Cost" [(ngModel)]="editableProduct.cost" #cost="ngModel" required />
        <div [hidden]="cost.valid || cost.untouched" class="alert alert-danger">
          Please set Cost
        </div>
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="select form-control" name="Category" [(ngModel)]="editCategoryId" #category_id="ngModel" required>
          <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
        </select>
        <div [hidden]="category_id.valid || category_id.untouched" class="alert alert-danger">
          Please set Category
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="_addProduct()" [disabled]="name.invalid || full_description.invalid || cost.invalid || category_id.invalid">
        Save
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

    </div>
  </form>
</ng-template>
