<!--<app-navbar></app-navbar>-->

<ngx-spinner
  bdColor = "rgba(51,51,51,0.8)"
  size = "large"
  color = "#27e9d2"
  type = "ball-climbing-dot"
></ngx-spinner>

<div class="row justify-content-between mt-4">
  <h3>Your subscriptions</h3>
  <div *ngIf="totalPages">
    <label class="mr-2">Number of subscriptions per page:</label>
    <div class="btn-group">
      <label (click)="loadSubscriptions()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="6" tabindex="0" role="button">6</label>
      <label (click)="loadSubscriptions()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="9" tabindex="0" role="button">9</label>
      <label (click)="loadSubscriptions()" class="btn btn-primary" [(ngModel)]="size"
             btnRadio="12" tabindex="0" role="button">12</label>
    </div>
  </div>
</div>

<div class="row justify-content-end" *ngIf="!totalPages">
  <br>
  <h4 align="right">You have no subscriptions. If you want to subscribe on something:</h4>
  <h4>1) Go to</h4>
  <a routerLink="" class="btn btn-outline-success ml-2">Home page</a>
  <h4>2) Press button 'more' on product you want. 3) Press subscribe.</h4>
</div>

<div class="row text-center justify-content-around" *ngIf="totalPages">
  <div class="card col-sm-12 col-md-5 col-lg-3 m-3" *ngFor="let sub of _subscriptions">
    <div class="card-body">
      <h5 class="card-title">{{sub.product.name}}</h5>
      <p class="card-text">{{_shortDescription(sub.product.description)}}</p>
      <div *ngIf="sub.active" (click)="_openModal(changeSub, sub)" class="row btn btn-outline-warning justify-content-around mb-2">
        {{sub.start}} / {{sub.end}}<br>
      </div>
      <div *ngIf="!sub.active" (click)="_openModal(changeSub, sub)" class="row btn btn-outline-danger justify-content-around mb-2">
        Inactive
      </div>
      <div class="row justify-content-around">
        <a routerLink="/products/id/{{sub.product.id}}" class="btn btn-primary col-5">More</a>
        <label class="col-5 p-0">{{sub.product.cost+"$"}}</label>
      </div>
    </div>
  </div>
</div>
<div class="pagination d-flex justify-content-center" *ngIf="totalPages">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage <= 1">
      <a class="page-link" (click)="loadPrev()">Previous</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage == page" *ngFor="let page of pages">
      <a class="page-link" (click)="currentPage = page; loadSubscriptions(); ">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage >= totalPages">
      <a class="page-link" (click)="loadNext()">Next</a>
    </li>
  </ul>
</div>

<ng-template #changeSub>
  <form>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Changing terms of subscription</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="Name" [(ngModel)]="editableSubscription.product.name" #name="ngModel" readonly/>
      </div>
      <div class="form-group">
        <label>End date</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
          </div>
          <input type="text" name="End" [(ngModel)]="editableSubscription.end" #end="ngModel"
                 placeholder="Start of using"
                 class="form-control"
                 bsDatepicker
                 [minDate]="minDate"
                 [maxDate]="maxDate"
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" required>
        </div>
        <div [hidden]="end.valid || end.untouched" class="alert alert-danger">
          Please set end date
        </div>
      </div>

      <div class="form-group">
        <label>Wallet</label>
        <select class="select form-control" name="Wallet" [(ngModel)]="editableSubscription.userWallet.id" #wallet="ngModel" required>
          <option *ngFor="let wall of wallets" value="{{wall.id}}">{{wall.name}} ({{wall.value}}{{wall.valute}})</option>
        </select>
        <div [hidden]="wallet.valid || wallet.untouched" class="alert alert-danger">
          Please choose wallet
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="changeTerms()"
              [disabled]="name.invalid || end.invalid || wallet.invalid">
        Change
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
    </div>
  </form>
</ng-template>
